# Python and SQLServer AdventureWorks2012 : pyodbc (60 Minute)

## Quickstart: Use Python to query a database in Azure SQL Database
See: https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-python?tabs=windows

1. ```conda install -c anaconda pyodbc```
2. Intall Microsoft ODBC Driver 17 for SQL Server (x64):
https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver15#download-for-windows
3. Check that ```ODBC Driver 17 for SQL Server``` is installed in Python code in next cell

In [70]:
import pyodbc
[x for x in pyodbc.drivers()]

['SQL Server', 'ODBC Driver 17 for SQL Server']

In [71]:
server = 'sqlservercentralpublic.database.windows.net'  # sever
database = 'AdventureWorks'                             # database
username = 'sqlfamily'                                  # username
password = 'sqlf@m1ly'                                  # password
driver= '{ODBC Driver 17 for SQL Server}'
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
print(cursor)

<pyodbc.Cursor object at 0x0000022A7B14CDB0>

In [72]:
cursor.execute("SELECT name, database_id, create_date FROM sys.databases")
row = cursor.fetchone()
while row:
    print (str(row[0]) + " " + str(row[1]))
    row = cursor.fetchone()

master 1
AdventureWorks 5

In [73]:
cursor.execute("USE AdventureWorks")
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'")
for row in cursor:
    print(row)

('AdventureWorks', 'SalesLT', 'Logger', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'Customer', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'ProductModel', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'ProductDescription', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'Product', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'ProductModelProductDescription', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'ProductCategory', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'Address', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'CustomerAddress', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'SalesOrderDetail', 'BASE TABLE')
('AdventureWorks', 'SalesLT', 'SalesOrderHeader', 'BASE TABLE')

In [74]:
cursor.execute("USE AdventureWorks")
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'Customer'")
for row in cursor:
    print(row)

('CustomerID', )
('NameStyle', )
('Title', )
('FirstName', )
('MiddleName', )
('LastName', )
('Suffix', )
('CompanyName', )
('SalesPerson', )
('EmailAddress', )
('Phone', )
('PasswordHash', )
('PasswordSalt', )
('rowguid', )
('ModifiedDate', )

In [75]:
cursor.execute("SELECT TOP 10 LastName, FirstName, CompanyName FROM SalesLT.Customer")
results = cursor.fetchall()
for row in results:
    print(row[0], row[1], row[2])

Gee Orlando A Bike Store
Harris Keith Progressive Sports
Carreras Donna Advanced Bike Components
Gates Janet Modular Cycle Systems
Harrington Lucy Metropolitan Sports Supply
Carroll Rosmarie Aerobic Exercise Company
Gash Dominic Associated Bikes
Garza Kathleen Rural Cycle Emporium
Harding Katherine Sharp Bikes
Caprio Johnny Bikes and Motorbikes

In [76]:
cursor.execute("SELECT CompanyName FROM SalesLT.Customer WHERE FirstName='Donna'")
for row in cursor:
    print(row)

('Advanced Bike Components', )
('Advanced Bike Components', )

In [77]:
cursor.execute("SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('dbo.SalesLT.Customer')")
for row in cursor:
    print(row)

In [78]:
cmd = """
SELECT CompanyName, AddressType, AddressLine1
FROM SalesLT.Customer JOIN SalesLT.CustomerAddress
ON (SalesLT.Customer.CustomerID=SalesLT.CustomerAddress.CustomerID)
JOIN SalesLT.Address
ON (SalesLT.CustomerAddress.AddressID=SalesLT.Address.AddressID)
WHERE CompanyName='Modular Cycle Systems'
"""
cursor.execute(cmd)
for row in cursor:
    print(row)

('Modular Cycle Systems', 'Main Office', '800 Interchange Blvd.')
('Modular Cycle Systems', 'Shipping', '165 North Main')

In [79]:
cmd = """
SELECT CustomerID, OrderQty, Name, ListPrice
FROM SalesLT.SalesOrderHeader JOIN SalesLT.SalesOrderDetail
ON SalesLT.SalesOrderDetail.SalesOrderID = SalesLT.SalesOrderHeader.SalesOrderID
JOIN SalesLT.Product
ON SalesLT.SalesOrderDetail.ProductID=SalesLT.Product.ProductID
WHERE CustomerID=29485
"""
cursor.execute(cmd)
for row in cursor:
    print(row)

(29485, 3, 'Long-Sleeve Logo Jersey, M', Decimal('49.9900'))
(29485, 3, 'Touring-1000 Yellow, 54', Decimal('2384.0700'))
(29485, 1, 'Touring-1000 Yellow, 46', Decimal('2384.0700'))
(29485, 10, 'AWC Logo Cap', Decimal('8.9900'))
(29485, 10, 'Bike Wash - Dissolver', Decimal('7.9500'))
(29485, 4, 'HL Bottom Bracket', Decimal('121.4900'))
(29485, 6, 'Classic Vest, S', Decimal('63.5000'))
(29485, 3, 'Hitch Rack - 4-Bike', Decimal('120.0000'))
(29485, 4, 'Touring-3000 Blue, 58', Decimal('742.3500'))
(29485, 4, 'Touring-2000 Blue, 50', Decimal('1214.8500'))
(29485, 6, 'Water Bottle - 30 oz.', Decimal('4.9900'))
(29485, 1, 'Touring-3000 Blue, 44', Decimal('742.3500'))
(29485, 1, 'Touring-1000 Yellow, 50', Decimal('2384.0700'))
(29485, 1, 'Front Brakes', Decimal('106.5000'))
(29485, 1, 'LL Bottom Bracket', Decimal('53.9900'))
(29485, 1, 'Touring-2000 Blue, 46', Decimal('1214.8500'))
(29485, 2, 'Touring-1000 Blue, 46', Decimal('2384.0700'))
(29485, 4, 'Short-Sleeve Classic Jersey, XL', Decimal('53.9900'))
(29485, 2, 'HL Touring Frame - Yellow, 60', Decimal('1003.9100'))
(29485, 8, 'Long-Sleeve Logo Jersey, L', Decimal('49.9900'))
(29485, 3, 'Rear Derailleur', Decimal('121.4600'))
(29485, 1, 'Touring-1000 Yellow, 60', Decimal('2384.0700'))
(29485, 2, 'Touring-1000 Blue, 50', Decimal('2384.0700'))
(29485, 7, 'Sport-100 Helmet, Black', Decimal('34.9900'))
(29485, 3, 'Touring-3000 Yellow, 44', Decimal('742.3500'))
(29485, 2, 'Touring-3000 Blue, 50', Decimal('742.3500'))
(29485, 2, 'Touring-3000 Blue, 54', Decimal('742.3500'))
(29485, 1, 'Touring-3000 Yellow, 54', Decimal('742.3500'))
(29485, 1, 'Touring-2000 Blue, 60', Decimal('1214.8500'))
(29485, 2, 'Touring-1000 Blue, 54', Decimal('2384.0700'))
(29485, 2, 'HL Crankset', Decimal('404.9900'))
(29485, 2, 'Front Derailleur', Decimal('91.4900'))
(29485, 1, 'HL Touring Seat/Saddle', Decimal('52.6400'))
(29485, 1, 'LL Touring Frame - Yellow, 62', Decimal('333.4200'))
(29485, 1, 'HL Touring Frame - Blue, 54', Decimal('1003.9100'))
(29485, 1, 'HL Touring Frame - Blue, 60', Decimal('1003.9100'))
(29485, 6, 'Short-Sleeve Classic Jersey, S', Decimal('53.9900'))
(29485, 4, 'Short-Sleeve Classic Jersey, L', Decimal('53.9900'))
(29485, 1, 'Half-Finger Gloves, M', Decimal('24.4900'))
(29485, 4, 'Classic Vest, M', Decimal('63.5000'))
(29485, 9, 'Hydration Pack - 70 oz.', Decimal('54.9900'))
(29485, 6, 'Sport-100 Helmet, Blue', Decimal('34.9900'))
(29485, 3, 'Sport-100 Helmet, Red', Decimal('34.9900'))